<div class="container">
  <h1 class="toph1">Stupid Coaching</h1>

  <form action="/answer" data-turbo="false" method="get">
    <div class="form-group">
      <label>Enter your question!</label>
      <input type="text" name="question" class="form-control">
      <small id="emailHelp" class="form-text text-muted" class="form-control">You are awesome!</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
